*.pyc
*.out
*.gif
apps
*.gif

apps/vmware/bower_components/jquery-ui/themes/black-tie/images/animated-overlay.gif

apps/vmware/bower_components/jquery-ui/themes/black-tie/images/animated-overlay.gif

apps/vmware/bower_components/jquery-ui/ui/.jshintrc

apps/vmware/bower_components/jquery-ui/themes/vader/images/animated-overlay.gif

apps/vmware/bower_components/jquery-ui/themes/ui-lightness/images/animated-overlay.gif
